<nav class="breadcrumbs" aria-label="{{ i18n "breadcrumbs" }}">
  <ol class="breadcrumbs-list">
    <li class="breadcrumbs-item">
      <a href="{{ site.Home.RelPermalink }}">
        <span class="material-symbols-outlined breadcrumbs-home-icon" aria-hidden="true">home</span>
        {{ i18n "home" }}
      </a>
    </li>
    {{ range .Ancestors.Reverse }}
      {{ if not .IsHome }}
        <li class="breadcrumbs-item">
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </li>
      {{ end }}
    {{ end }}
    <li class="breadcrumbs-item" aria-current="page">
      <span>{{ .LinkTitle }}</span>
    </li>
  </ol>
</nav>